#list{
  padding-left:20px;
  padding-right:20px;
  padding-bottom:0px;
  height: 93%;
  padding-top:0px;
  margin:0px;
  overflow-y:scroll;
}

#list::-webkit-scrollbar-track-piece{
  /*background-color: #fff;*/
  -webkit-border-radius: 0;
}
#list::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}

#list::-webkit-scrollbar-thumb{
  height: 50px;
  background-color: #8E9598;
  /* outline: 2px solid #fff; */
  /* outline-offset: -2px; */
  /* border: 2px solid #fff; */
  border-radius: 4px;
}

#list li{
  border-radius:2em;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  padding-left: 30px;
  list-style:none;
  cursor:default;
  color:white;
  opacity:0.3;
  height:20px;
  overflow:hidden;
  font-size:16px;
}

#list li a:hover{
  background-color:black;
}

#window {
  width:400px;
  height:700px;
  margin:auto;
  padding:0px;
  overflow:hidden;
  background-color:#0D5839;
  border-radius:2em;
}

.selected{
  opacity:1 !important;
  /*background-color:yellow;*/
}

#display-frame{
  padding-left:30px;
  padding-right:30px;
  text-align:center;
  height:50px;
  vertical-align:center;
}

#display-content{
  font-family:cursive;
  font-size:28px;
  color:yellow;
}
